

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
   
}

html{
        
    overflow: auto;
   
}

html::-webkit-scrollbar{
    display: none;
} 
body{
    background-color: white;

}


#section-1{

    width: 100vw;
    height: 100vh;
    
}

.navbar{
    height: 12vh;
    width: 100vw;
    display:flex;
    background-color: white;
}

.logo{
    width: 25%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo-img{

    width: 120px;
    height: 40px;

}

.features{
    width:45%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}

.nav-opt{
    height: 100%;
    width:25%;
    text-align: center;
    padding-top: 1.5rem;
}



.login-out{
    width:30%;
    display:flex;
    align-content: center;
    justify-content: space-evenly;
    
}

.sign-in
{
    margin-top: 1.5rem;
    width: 40%;
    height: 50%;
    text-align: center;
    font-weight: bold;
}

.sign-up
{
    margin-top: 1rem;
    padding-top: 0.5rem;;
    width: 30%;
    height: 60%;
    text-align: center;
    border-radius: 20px;
    border: 1.5px solid red;
    color:red;
    font-weight: bold;
    

}

.main-container
{
    width:100vw;
    height: 88vh;
    display: flex;
    align-items: center;
}

.description{

    width:50%;
    height:100%;
    padding-top: 6rem;
   padding-left: 5rem;
   padding-right:2rem;
   
}

.heading{

    font-size: 50px;
    font-weight: 700;
    margin-bottom: 2rem;
    line-height:4rem;
}

.subheading{
    line-height:2rem;
    margin-bottom: 3rem;
}

.button-container{

    height: 60px;
    width:230px;
    background-color:#F53838;
    border-radius: 10px;
    border : 2px solid #F53838;

    color:white;
    text-align: center;
    padding-top: 1rem;
    font-size: 20px;
    font-weight: 800;
    box-shadow: 0px 5px 30px 1px #F53838 ;


}

.home-image{

    width:50%;
    height:100%;
   padding-top: 6rem;
   padding-left: 5rem;
   
}

.home-img{

    width:550px;
    height:400px;
}

/*  ele btw page 1 and 2 */

.customer-report
{
    position: absolute;
    top: 664.55px;
    left: 90px;
    z-index: 2;
    height:200px;
    width: 1140px;
    background-color: white;
    box-shadow: 0px 5px 25px 4px rgb(231, 226, 226) ;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2rem;

}

.report-1, .report-2{
    width: 30%;
    height: 100%;
    border-right: 2px solid #f6f6f6;
    display: flex;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 4rem;
}

.report-3{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 4rem;
}

.rep-icon
{
    width: 30%;
    height: 30%;

}

.rep-img
{
    width: 3.8rem;
    height: 3.8rem;
}

.rep-info
{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.customer-count{

    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.customer-desc
{
    font-size: 1.5rem;
}







/* section 2 */

#section-2
{
    width:100vw;
    height:150vh;
    padding-top: 20rem;

}


.main-container{
    width: 100vw;
    height:100vh;

    display:flex;

}

.home-image2
{
    width:50%;
    height: 100%;
    padding-top: 1rem;
    padding-left: 4rem;
}

.home-img2{
    height: 450px;
    width:550px;
}

.description-2{

    width: 50%;
    height: 100%;
    padding-top: 6rem;
    padding-left: 7rem;
    padding-right: 7rem;

}

.heading2{

    font-size: 36px;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height:3rem;
}

.subheading2{
    line-height:2rem;
    margin-bottom: 3rem;
}

.list-item{

    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;

}

.check-logo{

    height:1.5rem;
    width: 1.5rem;
    margin-right: 1rem;

}

/*  section 3 */

#section-3
{
    width:100vw;
    height:200vh;
    background-color: #F6F6F6;
}


.plan-head-container{

    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
    margin-bottom: 4rem;

}

.heading3{

    
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height:3rem;
    width: 50%;
}

.subheading3{

    font-size: 20px;
    text-align: center;
    line-height:2rem;
    margin-bottom: 3rem;
    width: 50%;
}



.plans-container{


    width: 100vw;
    height: 159vh;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;

}

.plan-container{


    width: 30%;
    height: 130vh;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid rgb(212, 207, 207);
    border-radius: 10px;
}

.plan-image{

    height: 35%;
    width:100%;
    
    padding-top: 4rem;
    padding-left: 4.5rem;
}

.plan-img{
    
    width: 150px;
    height: 150px;

}

.plan-name{

    height: 5%;
    width:100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    

}

.plan-feature{

    height: 40%;
    width:100%;
    padding-top: 2rem;
}


.list-item2{

    
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding-left: 2.5rem;

}

.check-logo2{

    height:1rem;
    width: 1rem;
    margin-right: 1rem;

}



.plan-price{

    height: 5%;
    width:100%;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.select-plan{

    margin-top: 1rem;
    margin-left: 4rem;
    padding-top: 0.4rem;
    width: 60%;
    height: 5%;
    text-align: center;
    border-radius: 20px;
    border: 2px solid red;
    color:red;
    font-weight: bold;
    font-size: 1.2rem;
    
}


.active-plan{

    background-color: red;
    color: white;
    box-shadow: 0px 5px 30px 1px #F53838 ;
}

.active-plan-container{
    border-color: red;
}



/*  section 4 */

#section-4
{
    width:100vw;
    height:200vh;
    background-color: #F6F6F6;
   
}


.network-head-container{

    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
    margin-bottom: 4rem;
    

}

.heading3{

    
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height:3rem;
    width: 50%;
}

.subheading3{

    font-size: 20px;
    text-align: center;
    line-height:2rem;
    margin-bottom: 3rem;
    width: 50%;
}


.map-container{

    width: 100vw;
    height: 100vh;
    padding-left:5rem;
    padding-right:5rem;
    
}

.globe-img{

    width: 90vw;
    height: 95vh;
}

.companies{

    padding-top: 4rem;
    padding-left: 0.5rem;
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.company-img{

    width: 200px;
    height: 80px;

}



/* section 5 */

#section-5
{
    width:100vw;
    height:110vh;
    background-color: #F6F6F6;
   
}


.testimonial-head-container{

    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
    margin-bottom: 6rem;
    

}


.testimonial-container
{
    
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.testimonial{

    width: 28%;
    height: 50%;
    background-color: white;
    border: 2px solid rgb(212, 207, 207);
    border-radius: 10px;
    padding:1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.left-arrow{

    margin-top: 5rem;
    height: 60px;
    width: 60px;
    border: 2px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.right-arrow{

    margin-top: 5rem;
    height: 60px;
    width: 60px;
    border: 2px solid red;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;

}


.active-testi{
    border-color: red;
}


.person{

    height: 40%;
    width: 100%;
    display: flex;
     
}

.person-image{

    width:20%;
    height: 100%;
}

.person-info{

    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 0.5rem;

}

.person-name{

    font-weight: bold;
}

.city{

    color: gray;
}

.person-rating{

    width: 10%;
    height: 100%;
    padding-top: 0.5rem;

}

.star-image{
    width: 10%;
    height: 100%;
    padding-top: 0.5rem;
}

.person-img{
    height: 3rem;
    width: 3rem;
}

.star-img{

    height: 1rem;
    width: 1rem;
}

.message{
    height: 70%;
    width: 100%;
    line-height: 1.5rem;
}


.subscribe
{
    position: absolute;
    top: 4409.28px;
    left: 90px;
    z-index: 2;
    height:200px;
    width: 1140px;
    background-color: white;
    box-shadow: 0px 5px 25px 4px rgb(231, 226, 226) ;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;

}

.subscribe-1
{
    height: 70%;
    width: 40%;
    padding-left: 4rem;
}

.subscribe-2
{
    height: 70%;
    width: 30%;
    padding-top: 2rem;
}

.sub-heading1{

    font-size: 40px;
    font-weight: 600;
    /* margin-bottom: 0.5rem; */
    line-height:3rem;
}

.sub-heading2{
    line-height:2rem;
    margin-bottom: 3rem;
}

.subscribe-button
{
    height: 60px;
    width: 250px;
    border-radius: 10px;
    background-color: #F53838;
    color: white;
    text-align: center;
    padding-top: 1.2rem;
    font-size: 24px;
    box-shadow: 0px 15px 20px -15px #F53838; 
}



/*  section 6 */

#section-6
{
    width:100vw;
    height:150vh;
    background-color: #F6F6F6;
    display: flex;
    padding-top: 20rem;
    padding-left: 4rem;
    padding-right: 4rem;

}


.company-info{

    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;


}

.company-logo{

    height: 20%;
    width: 100%;
    margin-bottom: 2rem;
}

.foot-img{

    height: 3rem;
    width: 10rem;

}

.company-description
{
    height: 30%;
    width: 100%;
    margin-bottom: 2rem;
    line-height: 2rem;
    
}

.social-contact
{
    height: 30%;
    display: flex;
}

.social{
    width: 30%;
    height: 100%;
   
}


.year{
    height: 10%;
    font-size: 24px;
    color: gray;
}


.products-info{
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    padding-left: 14rem;
}

.product,.engage,.earn-money{

    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.earn-money{
    height: 50%;
}

.foot-header
{
    height: 15%;
    width:100%;
    margin-bottom: 16px;
    font-weight: 600;
}

.services{
    height: 10%;
    width:100%;
    margin-bottom: 1.5rem;
    color: gray;
}
